// Colors


$red_l_1: #ff3a19;
$red_l_2: #ffd3cc;
$red:#ff2500;
$red_d_1: #e52100;
$red_d_2: #b21900;


$blue_d_1:#000066;
$blue:#6666ff;

$green: #798a01;

$orange:#ffa500;
$orange_l_1:#ffae19;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;


